<div class="btn-group" role="group" aria-label="toolbar">
    <a href="{{BASE_URI}}admin/communication/adminnewsletterlist/importForm/{{editId}}" class="btn btn-info fa fa-upload openmodal"></a>
    <a href="{{BASE_URI}}admin/communication/adminnewsletterlist/export/{{editId}}" class="btn btn-info fa fa-download"></a>
</div>
