<div class="btn-group" role="group" aria-label="Basic example">
    <a href="#" class="btn btn-success fa fa-save"></a>
    <a href="{{BASE_URI}}admin/communication/adminnewsletterlist/importForm/{{editId}}" class="btn btn-info fa fa-upload openmodal"></a>
    <a href="{{BASE_URI}}admin/communication/adminnewsletterlist/export/{{editId}}" class="btn btn-info fa fa-download"></a>
    <a href="#" class="btn btn-danger fa fa-ban"></a>
</div>
