{{#ajax}}
{{/ajax}}
{{^ajax}}
<div class="row admin-list">
    <div class="col-12">
        <div class="btn-group pull-right" role="group">
            <a
                class="btn btn-info fa fa-plus openmodal"
                href="{{link}}/edit/"
                title="{{NEW_ITEM}}"
            ></a>
        </div>
    </div>
    <div id="ajax-target" class="col-12 col-lg-9">
{{/ajax}}

        {{{list}}}

        {{> bootstrap/pagination}}
{{#ajax}}
{{/ajax}}
{{^ajax}}
    </div>
    <div class="col-12 col-lg-3">
        {{{filter}}}
    </div>
</div>
{{/ajax}}
