<div class="row">
    <div class="col-6 text-left">
        <a
           href="{{editBaseUri}}/edit/{{newsletterQueue._id}}"
           class="openmodal"
        >
            {{newsletterQueue.email}}
        </a>
    </div>
    <div class="col-5 text-nowrap text-right">
        {{newsletterQueue.dateOpened}}
    </div>
    <div class="col-1"></div>
</div>
